.dropdown-div{
    background-color: var(--red);
    border-radius: 5px;

    height: 54px;
    width: 1024px;
    display: flex;
    justify-content: space-between;
}
.dropdowns h3 {
    padding-left: 15px;
    padding-top: 10px;
    font-weight: 700;
    color: #FFF;
    font-size: 24px;
}
.dropdowns{
        display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
.dropdown-content{
    background-color: var(--grey);
    border-radius: 0px 0px 5px 5px;
    width: 984px;
    padding: 20px;
}
.dropdown{

}
