header{
    display: flex;
    justify-content: space-between;
    margin: 45px auto 50px;
    max-width: 1240px;
    font-weight: 500;
    align-items: center;
}
.menu{
    display: flex;
    gap: 57px;

}
.active {
    border-bottom: 1px solid black;
}
@media (max-width: 767px){ 
    .Logo img {
        width: 145px;
        height: 46.881px;
        margin-left: 20px
    }
    .menu{
        gap: 20px;
    }
}