footer{
    max-width: 1440px;
    height: 209px;
    margin: 0 auto;
    background-color: black;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}
.Rgpd p{
    color: white;
    margin-top: 29px;
    padding-bottom: 29px;
}